 .menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    background-color: #eee;
  }
  
  .menu li ul {
    display: none;
    position: absolute;
  }
  
  .menu li:hover > ul {
    display: block;
  }
  
  .menu > ul > li {
    display: inline-block;
    position: relative;
  }
  
  .menu li ul li ~ li a {
    background-color: #ddd;
  }
  